* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background:#111111 url('/resources/img/bg.jpg') no-repeat top center;
  border-top:solid 3px $secondary;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
    
}



.wrap {
  max-width: 940px;
  margin:0 auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.intro {
  display: table;
  width:100%;
  background:#111111;
  position: absolute;
  z-index:1000;
  .button {
    font-size: 12px;
  }

  .contain {
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    margin:auto;
    width:100%;
    h1 {
      color:white;
      text-transform: uppercase;
      font-size:100px;
    }
  }
}

.main-content {
  @include opacity(0);
  
  text-align: center;
  position: relative;
}

.content-show {
  @include animation-delay (1s);
  @include animation(900ms, content-show, ease);
  
}

.span4 a.button {
  width:100%;
}

a.button {
  color:$secondary;
  border:solid 1px $secondary;
  padding:1em 3em;
  display: inline-block;
  margin-top: 1em;
  cursor: pointer;
  border-radius:5px;
  &:hover {
    border-color:$hover;
    color:$hover;
  }
}

.home {
  position: absolute;
  bottom:5em;
  left:5em;
  color:rgba(255,255,255,.8) !important;
  font-size: 14px;
  &:hover
    .ico-arrow-left {
    &:before {
      margin-right:1em;
      margin-left:-.5em;

    }
  }

}


.ico-arrow-left:before {
  margin-top: 3px;
  display: inline-block;
  margin-right:.5em;
  margin-left: 0;
  @include transition(all .3s)
}

.margin-top {
  margin-top: 19em;
}

.modal {
  background:transparent;
  left: 5%;
width: 90%;
margin-left: 0;
top:5%;
box-shadow:0;
}

.close {
  left:1em;
  top:1em;
  span {
    color:white;
  }
}


.quotes {display: none;}

h1 {
  color: white;
font-size: 40px;
}

iframe {
  display: inherit;
  margin:0 auto;
  max-width:1100px;
}

.logo {
  float:right;
}