// COLOR PALETTE
$primary: #033063;
$secondary: #f89d25;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$green:#a5cd38;

// FONT STACKS
$heading:'Cabin', sans-serif;
$body: 'Cabin', sans-serif;